:root {
  --black: #0a1013;
  --white: white;
  --slateblue: #3a5876;
  --darkestblue: #164366;
  --darkblack: black;
  --blue: #164366;
  --light-grey: #d1d4d6;
  --border-radius--border-radius-20: 20px;
  --border-radius--border-radius-14: 14px;
  --peach-puff: #ffd0c3;
  --mint-green: #b8ffd7;
  --lovender-blue: #bec2ff;
  --light-yellow: #ebff9c;
  --pale-blue: #c3dcff;
  --light-apricot: #ffedb8;
  --lovender-pink: #f3d0ff;
  --sky-blue: #ace4f6;
  --light-pink: #ffbdc9;
  --whisper-gray: #f6f5f5;
  --charcoal-blue: #0c2238;
  --darkpink: #da1e5e;
  --border-radius--border-radius-56: 56px;
  --border-radius--border-radius-72: 72px;
  --border-radius--border-radius-32: 32px;
  --stellblue: #8fafce;
  --stillblue: #bbcbdc;
  --border-radius--border-radius-24: 24px;
  --paleyellow: #ffede8;
  --lavender: #ebecff;
  --cream: #fff8ec;
  --pale-aqua: #e3ffff;
  --mauve: #f8e4ff;
  --peachblush: #fff1ed;
  --frosted-lilac: #efefff;
  --icy-blue: #eff;
  --soft-lovender: #fcf2ff;
  --creamy-peach: #fff9ef;
  --grey: #afafb0;
  --text-gray: #3a3a3a;
  --darkgrey: #eeeeef;
  --dark-blue: #104778;
  --bluegray: #9fb3c4;
  --steelblue: #8ba1b3;
  --richblack: #08293f;
  --honeydew: honeydew;
  --soft-pink: #fff4f2;
  --periwinkle: #f0f1ff;
  --floral-white: floralwhite;
  --lilac-mist: #fbf1ff;
  --azure-mist: #f2ffff;
  --soft-apricot: #fff6f3;
  --ivory: ivory;
  --lavender-blush: #fff0f8;
  --border-radius--border-radius-1000: 1000px;
  --grayish-white: #afafb0;
  --border-radius--border-radius-16: 16px;
  --misty-rose: #ffede8;
  --dark-charcoal: #3a3a3a;
  --light-periwinkle: #d0d3ff;
  --border-radius--border-radius-10: 10px;
  --lightgrey: #f6f5f5;
  --darkblue: #2a67b2;
  --peach: white;
  --lightgreen: #b8ffd7;
  --lightblue: #bec2ff;
  --lightyellow: #ebff9c;
  --paleblue: #c3dcff;
  --lightpurple: #f3d0ff;
  --cyan: #ace4f6;
  --lightpink: #ffbdc9;
  --text-grey: #828282;
  --cornflower-blue: #4c96d2;

  --white-100: hsl(206, 5%, 100%);
  --white-200: hsl(206, 5%, 90%);
  --white-300: hsl(206, 5%, 80%);
  --white-400: hsl(206, 5%, 65%);
  --white-500: hsl(206, 5%, 45%);

  --black-100: hsl(210, 20%, 10%);
  --black-200: hsl(210, 20%, 8%);
  --black-300: hsl(210, 20%, 6%);
  --black-400: hsl(210, 20%, 4%);
  --black-500: hsl(210, 20%, 1%);
}

* {
  font-family: "Poppins";
}
